name: Test
on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-2022, windows-2025, ubuntu-22.04, ubuntu-24.04 ]
        dotnet: [6.0.x, 7.0.x]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Run functional tests
        env:
          # Required for multiple target frameworks in the StandardTests project.
          DOTNET: ${{ matrix.dotnet }}
        run: dotnet test Bandwidth.Iris.Tests

  notify_for_failures:
    name: Notify for Failures
    needs: [test]
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack of Failures
        uses: Bandwidth/build-notify-slack-action@v2
        with:
          job-status: failure
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          slack-channel: ${{ secrets.SLACK_CHANNEL }}
